#### Libraries

In [99]:
import pandas as pd
import numpy as np

#### Load Data

In [100]:
df = pd.read_csv("raw_sales.csv")
df.head()

              datesold  postcode   price propertyType  bedrooms
0  2007-02-07 00:00:00      2607  525000        house         4
1  2007-02-27 00:00:00      2906  290000        house         3
2  2007-03-07 00:00:00      2905  328000        house         3
3  2007-03-09 00:00:00      2905  380000        house         4
4  2007-03-21 00:00:00      2906  310000        house         3

#### Create a Subset of the Data

In [103]:
series_df = df[["datesold", "price", "bedrooms"]]
series_df = series_df[series_df["bedrooms"] == 3] 
series_df = series_df.drop(columns = ["bedrooms"])
series_df['datesold'] = pd.to_datetime(series_df['datesold'])
series_df = pd.pivot_table(series_df, index = "datesold", aggfunc = np.mean)
series_df.head()

               price
datesold
2007-02-27  290000.0
2007-03-07  328000.0
2007-03-21  310000.0
2007-04-24  399000.0
2007-05-24  359000.0

#### Export Subset to CSV

In [105]:
series_df.to_excel("housing_sales_data.xlsx")